*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.829);
    perspective: 1000px;
    height: 100vh;
}
.weather{
    background: linear-gradient(134deg,rgb(76, 0, 255), #d400fe, #ff0000);
    height: 90vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    /* transform: rotateY(180deg); */
    /* margin-top: 190px; */
    transition: transform 1s;
    transform-style: preserve-3d;
}
.w{
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 30px 0;
}
.box{
    margin: -5px;
    display: flex;
}
.inp{
    background-color: white;
    width:230px;
    height: 33px;
    margin: 6px;
    margin-left: 3px;
    border-radius: 20px;
}
#text{
    width: 170px;
    height: 32px;
    outline: none;
    border: none;
    text-align: left;
    font-size: 18px;
    /* border-radius: 20px; */
    margin: 1px 20px;
}
.search{
    width: 68px;
    height: 31px;
    border-radius: 20px;
    margin: 7px 5px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.weatherimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
    width: 250px;
    margin-top: -6px;
}
.immg{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-right: 5%;

}
.immg img{
    width: 170px;
    height: 170px;
}
.place{
    margin-top: -24px;
    width: 135px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
}
.a{
    font-size: 47px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
}
.b{
    margin-top: -1px;
    width: 180px;
    text-align: center;
    font-size: 29px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}
.last{
    display: flex;
    width: 100%;
    height: 200px;
}
.first{
    display: flex;
    width: 200%;
    justify-content: center;
    margin-top: 26%;
}
.humi{
    width: 40%;
}
.humi img{
    width: 50%;
}
.sec{
    display: flex;
    width: 200%;
    justify-content: center;
    margin-top: 26%;
}
.wi{
    width: 40%;
}
.wi img{
    width: 50%;
}
.tt, .tet{
    font-size: 18px;
    margin-top: -3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.back{
    width: 400px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(155deg ,red,blue);
    /* backface-visibility: hidden; */
    position: absolute;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}
.back video{
    height: 90%;
    display: block;
}
.hh{
    height: 100px;
    position: absolute;
    margin-top: 400px;
    color: rgb(0, 0, 0);
}
.rrr{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cs{
    font-size: 40px;
    margin-top: -12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bttn{
    width: 130px;
    position: absolute;
    margin-left: -72px;
    margin-top: 27px;
    height: 30px;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
#btn{
    position: absolute;
    margin-top: 60%;
    height: 30px;
    border-radius: 20px;
    width: 90px;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ab{
    backface-visibility: hidden;
}
@media only screen and (max-width: 396px){
    /* .weather{
        margin-left: -8px;
        margin-right: -174px;
        width: 540px;
        margin-top: 338px;
        height: 130%;
    }
    .back{
        margin-top: 338px;
        margin-left: -8px;
        margin-right: -174px;
        width: 540px;
        height: 130%;
    } */
    #btn{
        margin-top: 550px;
    }
}